/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the header */
.header {
  width: 100%;
  background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 55%, #FF4500 56%, #FFFFFF 57%, #FF4500 58%, #FF4500 100%);
      border-bottom: 5px solid black;
  text-align: center;
  padding: 20px 0;
}

.infographics-text {
  font-family: monospace;
  font-size: 3em;
  font-weight: bold;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin-top: 20px;
}

/* Style the button that displays the dropdown menu */
.dropdown-menu .dropdown-button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown menu content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the dropdown menu links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
